/* Header del Home */
.home__header{
    grid-area: header;
    padding: 10px;
    align-items: center;
    height: 65px;
    display: flex;
    background-color: map-get($colores, "color-header-footer");
    
    &__lista {
        margin: auto;    
    }
}
.logo{
    width: 50px;
}
.anchors__home__header{
    color: black;
    margin-right: 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.inicio__home{
    background-color: map-get($colores,"color-secciones-header");
    &:hover{
        color: map-get($colores,"color-hover");
    }  
}
.servicios__home{
    background-color: map-get($colores,"color-secciones-header");
    &:hover{
        color: map-get($colores,"color-hover");
    }
}
.sobreMi__home{
    background-color: map-get($colores,"color-secciones-header");
    &:hover{
        color: map-get($colores,"color-hover");
    }
}
.contacto__home{
    background-color: map-get($colores,"color-secciones-header");
    &:hover{
        color: map-get($colores,"color-hover");
    }
}
.menu__desplegable{
    display: none;
}
/* Main del Home */
.home__main{
    grid-area: main;
}
.card{
    background-color: map-get($colores, "color-fondo");
    &-img-top{
        height: 392.5px;
    }
    &-title{
        color: white;
    }
}
.anchors__servi__p{
    text-align: center;
}
.secciones{
    color: black;
    border: 1px solid white;
}
/* Footer Home */
.raidy__footer__home{
    grid-area: footer;
    background-color: map-get($colores, "color-header-footer");
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 6.7%;    
}