/* Header del Home */
.home__header{
    grid-area: header;
    padding: 10px;
    align-items: center;
    height: 65px;
    display: flex;
    background-color: #37718E;
}
.logo{
    width: 50px;
}
.home__header__lista {
    margin: auto;    
}
.anchors__home__header{
    color: black;
    margin-right: 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.inicio__home{
    background-color: aqua;    
}
.inicio__home:hover{
    color: black;
}
.servicios__home{
    background-color: aqua;
}
.servicios__home:hover{
    color: black;
}
.sobreMi__home{
    background-color: aqua;
}
.sobreMi__home:hover{
    color: black;
}
.contacto__home{
    background-color: aqua;
}
.contacto__home:hover{
    color: black;
}
.menu__desplegable{
    display: none;
}
/* Main del Home */
.home__main{
    grid-area: main;
}
.card-img-top{
    height: 392.5px;
}
.card{
    background-color: #78794f;
}
.card-title{
    color: white;
}
.anchors__servi__p{
    text-align: center;
}
.secciones{
    color: black;
    border: 1px solid white;
}
/* Footer Home */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 6.7%;    
}