.sobre-mi{
    grid-area: main;
}
.sobre-mi__main__section{
    text-align: center;
    margin-top: 25px;
}
.sobreMi__main__section{
    display: flex;
    margin-top: 25px;
}
.sobreMi__yo{
    text-align: center;
    margin-left: 45px;
}
.sobre-mi__main__section-img{
    width: 350px;
}
.miBio{
    text-align: center;
}
.texto{
    margin-top: 15px;
    margin: 1cm;
}
.SK7{
    color: rgb(255, 255, 255);
    border-radius: 2cm;    
}