/* Media Queris */
@media screen and (max-width:768px){
    .index__pregunta{
        width: 30%;
    }
    .index__p__bootstrap{
        font-size: 15px;
        margin-right: 20px;
    }
    .grid{
        display: block;
    }
    .banderas{
        margin: auto;
        width: 55%;
        letter-spacing: 3cm;
    }
    .video{
        margin-top: 40px;
        width: 40%;
        height: 180px;
    }
    .raidy__footer__redes{
        width: 5%;
    }
    /* home */
    .card{
        height: 475px;
    }
    .menu__desplegable{
        display: none;
    }
}
@media screen and (max-width:425px){
    .index__pregunta{
        width: 52%;
    }
    .index__p__bootstrap{
        font-size: 15px;
        margin-right: 20px;
    }
    .grid{
        display: block;
    }
    .banderas{
        margin: auto;
        width: 80%;
        letter-spacing: 3cm;
    }
    .video{
        margin-top: 50px;
        width: 60%;
        height: 60%;
    }
    .raidy__footer__redes{
        width: 8%;
    }
    /* home */
    .card{
        height: 550px;
    }
    .contacto__header__home{
        margin-left: 85px;
    }
}
@media screen and (max-width:375px) {
    .home__header{
        height: 135px;
    }
    .home__header__lista{
        display: none;
    }
    .menu__desplegable{
        display: block;
        position: relative;
        margin-left: 73%;
    }
    .menu{
        display: none;
    }
    .secciones__li__home{
        display: flex;
        position: absolute;
        text-align: center;
        
    }
    .hamburguesa{
        background-color: grey;
        width: 50px;
        height: 48px;
        border-radius: 6px;
        display: block;
        padding: 0.2px;
    }
    .hamburguesa span{
        width: 35px;
        height: 5px;
        background-color: white;
        display: block;
        margin: 8px;
    }
    .input{
        position: absolute;
        top: 0;
        margin: 18.5px;
        display: none;
    }
    .input:checked + .menu{
        display: block;
        transform: translate(-320px,5px);
    }
    .anchors__home{
        margin-right: 15px;
        color: black;
    }
}
@media screen and (max-width:320px){
    .menu__desplegable{
        margin-left: 67.5%;
    }
    .input:checked + .menu{
        display: block;
        transform: translate(-270px,10px);
    }
    .anchors__home{
        font-size: 13px;     
    }
}