/* Main de SK7 */
.SK7__main{
    display: flex;
}
.SK7__img{
    width: 25%;
    margin: 1cm;
}
.SK7__main__div{
    text-align: center;
    align-items: center;
    margin-left: 30px;
    height: 500px;
    margin-top: 40px;
}
.SK7__main__p{
    color: white;
    margin-top: 16.5%;
    margin-right: 50px;
}
/* Discografia de SK7 */
.SK7__main__discografia{
    grid-area: main;
    margin: 1cm;
}
.SK7__section__discografia{
    display: flex;
    margin-top: 15px;
}
.sencillosEP{
    margin-top: 15px;
    color: white;
}
.discografia__section_a{
    color: violet;
    margin-right: 30px;
}
.discografia__section__SK7{
    margin-top: 15px;
}
.SK7__h{
    color: white;
}
/* Galeria SK7 */
.h2__galeria__sk7{
    margin-top: 50px;
    margin-left: 11px;
    color: white;
}