/* Distintos bodys */
.index{
    background-image: url(./logos/outerspace-58.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "header header header header" 
        "main main main main"
        "footer footer footer footer"   
    ;
}
.home{
    background-color: #78794f;
    display: grid;
    grid-template-areas: 
        "header header header header" 
        "main main main main"
        "footer footer footer footer"   
    ;
}
.servi{
    background-color: #78794f;
    display: grid;
    grid-template-areas: 
        "header header header header" 
        "main main main main"
        "footer footer footer footer"
    ;
}
.sobre-mi{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header" 
        "main main main main"
        "footer footer footer footer"
    ;
}
.contacto{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.mantenimietoPC{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.desarrolloWeb{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.SK7__body{
    background-color: black;
    grid-template-areas:
        "header header header header"
        "main main main main"
    ;
}
/* header del index */
.index__header{
    grid-area: header;
    text-align: center;
}
.index__pregunta{
    width: 18.5%;
}
/* main del index */
.index__main{
    grid-area: main;
}
.index__section{
    text-align: center;
}
.index__parrafo{
    color: white;
}
.index__opciones{
    text-align: center;
    margin-top: 2%;
    letter-spacing: 2cm;
}
.index__bandera__idioma{
    width: 8%;
    height: 10%;
}
/* Footer Index */
.raidy__footer{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
}
.raidy__footer__redes{
    width: 3%;
}
.text{
    font-family: 'Roboto', sans-serif;
}
/* Header del Home */
.home__header{
    grid-area: header;
    padding: 10px;
    align-items: center;
    height: 65px;
    display: flex;
    background-color: #37718E;
}
.home__header__link:hover{
    color: white;
}
.home__header__logo{
    width: 58px;
}
.home__nombre{
    margin-left: 42%;
}
/* Main del Home */
.home__main{
    grid-area: main;
}
.home__main__img{
    width: 25%;
}
.home__main__section{
    text-align: center;
    margin-top: 5.5%;
}
/* Footer Home */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 6.7%;    
}
/* Header Servicios */
.home__nombre__h2{
    margin-right: 6.9%;

}
.home__header__link{
    text-align: center;
    margin: auto;
    color: black;
}
/* Main Servicios */
.servicios__main{
    grid-area: main;
}
.servi__h1{
    text-align: center;
    margin-top: -40px;
}
.info__servi:hover{
    color: blue;
}
.servi__main__section{
    display: flex;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
}
.servi__section__div{
    border: 1px solid white;
    background-image: url(./logos/fondo\ seervicios\ \(7\).png);
    border: 1px solid white;
    width: 18%;
    height: 30%;
    margin-left: 2%;
    margin-right: 10%;
}
.servi__div__informacion{
    margin-top: 60%;
    text-align: center;
    border: 1px solid white;
}
.servi__section__desarrollo{
    background-image: url(./logos/fondo\ desaroolo.png);
    border: 1px solid white;
    width: 18%;
    height: 30%;
}
.servi__section__backend {
    background-image: url(./logos/fondo\ backend\ \(2\).png);
    border: 1px solid white;
    width: 18%;
    height: 30%;
    margin-left: 10%;
}
.servi__div__backend {
    text-align: center;
    margin-top: 49%;
    border: 1px solid white;
}
/* Footer servicios */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
/* Header de sobre mi */
.home__nombre__h2__sobre-mi{
    margin-left: -92px;
}
/* Main de sobre mi */
.sobre-mi{
    grid-area: main;
}
.sobre-mi__main__section{
    text-align: center;
    margin-top: 25px;
}
.sobreMi__main__section{
    display: flex;
    margin-top: 25px;
}
.sobreMi__yo{
    text-align: center;
    margin-left: 45px;
}
.sobre-mi__main__section-img{
    width: 350px;
}
.miBio{
    text-align: center;
}
.texto{
    margin-top: 15px;
    margin: 1cm;
}
.SK7{
    border: 1px solid white;
    color: black;
    background-color: aqua;
    border-radius: 2cm;    
}
/* Footer de sobre mi */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
/* Header de contacto */
.home__nombre__h2__contacto{
    margin-left: -92px;
}
/* Main de contacto */
.contacto__main{
    grid-area: main;
}
.contacto__h1{
    text-align: center;
}
.contacto__p{
    margin-top: 25px;
    text-align: center;
}
.contacto__main__section{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.contacto__main__section__p{
    text-align: center;
}
.formulario__contacto{
    text-align: center;
    margin-left: 2%;
}
.falsoCarrusel{
    width: 35%;
    height: 150px;
    margin:50px auto;
    margin-right: 15px;
    border: 1px solid white;
    animation: carrusel 10s infinite;
}
@keyframes carrusel{
    0%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(10\).png);
    }
    20%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(9\).png);
    }
    45%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(8\).png);
    }
    70%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(7\).png);
    }
    100%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(6\).png);
    }
}
/* Header mantenimiento de pc */
.home__nombre__h2__mantemimientoPC{
    margin-left: 42%;
}
/* Main mantenimiento de pc */
.mantenimientoPC__main{
    grid-area: main;
}
.mantenimientoPC__main__section{
    display: flex;
    text-align: center;
    align-items: center;
}
.h1__mantenimientoPC{
    text-align: center;
}
.p__mantenimientoPC{
    margin-top: 25px;
}
.mantenimientoPC__foto{
    width: 25%;
    margin: 1cm;
}
.mantenimientoPC__info{
    width: 65%;
}
/* Header de Desarrollo Web */
.home__nombre__desarrollo{
    margin-left: 42%;
}
/* Main de Desarrollo Web */
.desarrolloWeb__main{
    grid-area: main;
}
.desarrolloWeb__main__section{
    display: flex;
    text-align: center;
    align-items: center;
}
.desarrolloWeb__main__section__img{
    width: 25%;
    margin: 1cm;
}
.desarrolloWeb__info{
    width: 65%;
}
.desarrolloWeb__p{
    margin-top: 25px;
}
.desarrolloWeb__h1{
    text-align: center;
}
/* Header de SK7 */
.SK7__header{
    grid-area: header;
    background-color: rgb(57, 0, 80);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
}
.SK7__h{
    color: white;
}
.SK7__header__div__a{
    color: white;
}
.SK7__header__div__a{
    padding-right: 15px;
}
/* Main de SK7 */
.SK7__main{
    display: flex;
}
.SK7__img{
    width: 25%;
    margin: 1cm;
}
.SK7__main__div{
    text-align: center;
    align-items: center;
    border: 1px solid white;
    margin-left: 45px;
    height: 500px;
    margin-top: 40px;
}
.SK7__main__p{
    color: white;
}
/* Discografia de SK7 */
.SK7__main__discografia{
    grid-area: main;
    margin: 1cm;
}
.SK7__section__discografia{
    display: flex;
    margin-top: 15px;
}
.sencillosEP{
    margin-top: 15px;
    color: white;
}
.discografia__section_a{
    color: violet;
    margin-right: 30px;
}
.discografia__section__SK7{
    margin-top: 15px;
}
/* Galeria SK7 */
.grilla{
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: aqua;
    border-radius: 6px;
    border: solid 1px red;
}
.galeria__SK7{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px));
    grid-auto-rows: 70px;
    grid-template-columns: 80px;
    gap: 20px;
}
/* Media Queris */
@media screen and (max-width: 768px) {
    /* Index */
    .video{
        margin-top: 15px;
        height: 145px;
        width: 220px;
    }
    .index__pregunta{
        width: 25%;
    }
    .raidy__footer__redes{
        width: 5%;
    }
    /* Home */
    .home__nombre{
        margin-left: 36.5%;
    }
    .raidy__footer__home{
        margin-top: auto;
    }
/* Mantenimiento de pc */
    .home__nombre__h2__mantemimientoPC{
        margin-left: 35%;
    }
    .h1__mantenimientoPC{
        margin-top: 5px;
    }
    .mantenimientoPC__foto{
        width: 40%;
    }
    .mantenimientoPC__info{
        margin-top: 15px;
    }
    .p__mantenimientoPC{
        margin-bottom: 7px;
    }
    /* Desarrollo Web */
    .desarrolloWeb__info{
        margin-top: 25px;
    }
    .desarrolloWeb__main__section__img{
        width: 35%;
    }
    .desarrolloWeb__p__lorem{
        margin-right: 25px;
    }
    /* Servicios */
    .servi__section__div{
        width: 25%;
    }
    .servi__section__desarrollo{
        width: 30%;
        margin-right: 15px;
    }
    .servi__section__backend{
        width: 30%;
    }
    /* Contacto */
    .contacto{
        height: 100vh;
    }
    .contacto__main__section{
        flex-direction: column;
    }
    .home__nombre__h2__contacto{
        margin-left: 1px;
    }
    .img__contacto{
        width: 98%;
    }
    .contacto__h1{
        margin-top: 15px;
    }
    .contacto__p{
        width: 90%;
    }
    .contacto__main__section__p{
        margin-right: 25px;
    }
    .textarea{
        width: 260px;
    }
    
}
@media screen and (max-width: 425px) {
    /* Index */
    .index__pregunta{
        width: 55%;
    }
    .video{
        margin-top: 15px;
        height: 150px;
        width: 200px;
    }
    .raidy__footer__redes{
        width: 8%;
    }
    /* Home */
    .home__nombre{
        margin-left: 29%;
    }
    .home__header__logo{
        width: 45px;
    }
    .home__main__section{
        margin-top: 15%;
    }
    .home__main__img{
        height: 150px;
    }
    .raidy__footer__home{
        margin-top: auto;
    }
    /* Mantenimiento de pc */
    .home__nombre__h2__mantemimientoPC{
        margin-left: 130px;
    }
    .h1__mantenimientoPC{
        margin-top: 5px;
    }
    .mantenimientoPC__main__section{
        flex-direction: column;
    }
    .mantenimientoPC__foto{
        width: 60%;
    }
    .p__mantenimientoPC{
        margin-bottom: 7px;        
    }
    /* Desarrollo Web */
    .desarrolloWeb__main__section{
        flex-direction: column;
    }
    .desarrolloWeb__h1{
        margin-top: 25px;
    }
    .desarrolloWeb__main__section__img{
        width: 60%;
    }
    .desarrolloWeb__p{
        margin-bottom: 10px;
    }
    .home__nombre__desarrollo{
        margin-left: 30%;
    }
    /* Servicios */
    .servi{
        height: 100vh;
    }
    .servi__h1{
        margin-top: 5%;
    }
    .servi__section__div{
        width: 70%;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .servi__section__desarrollo{
        width: 70%;
        margin-bottom: 10px;
    }
    .servi__section__backend{
        width: 70%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    .servi__main__section{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .home__nombre__h2{
        margin-left: 15px;
    }
    /* Sobre Mi */
    .sobre-mi{
        height: 100vh;
    }
    .sobreMi__main__section{
        flex-direction: column;
        align-items: center;
    }
    .sobre-mi__main__section-img{
        width: 60%;
        margin-right: 45px;
    }
    .p__sobremi{
        margin-right: 25px;
    }
    .sobre-mi__h3{
        margin-top: 15px;
    }
    .home__nombre__h2__sobre-mi{
        margin-left: 1px;
    }
    /* Contacto */
    .contacto{
        height: 100vh;
    }
    .contacto__main__section{
        flex-direction: column;
    }
    .home__nombre__h2__contacto{
        margin-left: 1px;
    }
    .img__contacto{
        width: 98%;
    }
    .contacto__h1{
        margin-top: 15px;
    }
    .contacto__p{
        width: 90%;
    }
    .contacto__main__section__p{
        margin-right: 25px;
    }
    .textarea{
        width: 260px;
    }
}
@media screen and (max-width: 375px) {
    /* Index */
    .index__pregunta{
        width: 55%;
    }
    .video{
        margin-top: 15px;
        height: 150px;
        width: 200px;
    }
    .raidy__footer__redes{
        width: 8%;
    }
    /* Home */
    .home__nombre{
        margin-left: 28%;
    }
    .home__header__logo{
        width: 45px;
    }
    .home__main__section{
        margin-top: 15%;
    }
    .home__main__img{
        height: 150px;
    }
    .raidy__footer__home{
        margin-top: auto;
    }
    /* Mantenimiento de pc */
    .home__nombre__h2__mantemimientoPC{
        margin-left: 100px;
    }
    .h1__mantenimientoPC{
        margin-top: 5px;
    }
    .mantenimientoPC__main__section{
        flex-direction: column;
    }
    .mantenimientoPC__foto{
        width: 60%;
    }
    .p__mantenimientoPC{
        margin-bottom: 7px;
    }
    /* Desarrollo Web */
    .desarrolloWeb__main__section{
        flex-direction: column;
    }
    .desarrolloWeb__h1{
        margin-top: 25px;
    }
    .desarrolloWeb__main__section__img{
        width: 60%;
    }
    .desarrolloWeb__p{
        margin-bottom: 10px;
    }
    .home__nombre__desarrollo{
        margin-left: 25%;
    }
    /* Servicios */
    .servi{
        height: 100vh;
    }
    .servi__h1{
        margin-top: 5%;
    }
    .servi__section__div{
        width: 70%;
        margin-left: 36px;
        margin-bottom: 10px;
    }
    .servi__section__desarrollo{
        width: 70%;
        margin-bottom: 10px;
    }
    .servi__section__backend{
        width: 70%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    .servi__main__section{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .home__nombre__h2{
        margin-left: 15px;
    }
    /* Sobre Mi */
    .sobre-mi{
        height: 100vh;
    }
    .sobreMi__main__section{
        flex-direction: column;
        align-items: center;
    }
    .sobre-mi__main__section-img{
        width: 60%;
        margin-right: 45px;
    }
    .p__sobremi{
        margin-right: 25px;
    }
    .sobre-mi__h3{
        margin-top: 15px;
    }
    .home__nombre__h2__sobre-mi{
        margin-left: 1px;
    }
    /* Contacto */
    .contacto{
        height: 100vh;
    }
    .contacto__main__section{
        flex-direction: column;
    }
    .home__nombre__h2__contacto{
        margin-left: 1px;
    }
    .img__contacto{
        width: 98%;
    }
    .contacto__h1{
        margin-top: 15px;
    }
    .contacto__p{
        width: 90%;
    }
    .contacto__main__section__p{
        margin-right: 25px;
    }
    .textarea{
        width: 260px;
    }
}
@media screen and (max-width: 320px) {
    /* Index */
    .index__pregunta{
        width: 55%;
    }
    .index__section{
        margin-left: -30px;
        font-size:small;
    }
    .video{
        margin-top: 15px;
        height: 150px;
        width: 150px;
    }
    .raidy__footer__redes{
        width: 8%;
    }
    /* Home */
    .home__nombre{
        margin-left: 23.5%;
    }
    .home__header__logo{
        width: 45px;
    }
    .home__main__section{
        margin-top: 10%;
        margin-left: -25%;
    }
    .home__main__img {
        width: 100%;
        height: 180px;
    }
    /* Mantenimiento de pc */
    .home__nombre__h2__mantemimientoPC{
        margin-left: 70px;
    }
    .h1__mantenimientoPC{
        margin-top: 5px;
    }
    .mantenimientoPC__main__section{
        flex-direction: column;
    }
    .mantenimientoPC__foto{
        width: 60%;
    }
    .p__mantenimientoPC{
        margin-bottom: 7px;
    }
    /* Desarrollo Web */
    .desarrolloWeb__main__section{
        flex-direction: column;
    }
    .desarrolloWeb__h1{
        margin-top: 25px;
    }
    .desarrolloWeb__main__section__img{
        width: 60%;
    }
    .desarrolloWeb__p{
        margin-bottom: 10px;
    }
    .home__nombre__desarrollo{
        margin-left: 25%;
    }
    /* Servicios */
    .servi{
        height: 100vh;
    }
    .servi__h1{
        margin-top: 5%;
    }
    .servi__section__div{
        width: 70%;
        margin-left: 32px;
        margin-bottom: 10px;
    }
    .servi__section__desarrollo{
        width: 70%;
        margin-bottom: 10px;
    }
    .servi__section__backend{
        width: 70%;
        margin-right: 10%;
        margin-bottom: 30px;
    }
    .servi__main__section{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .home__nombre__h2{
        margin-left: 15px;
    }
    /* Sobre Mi */
    .sobre-mi{
        height: 100vh;
    }
    .sobreMi__main__section{
        flex-direction: column;
        align-items: center;
    }
    .sobre-mi__main__section-img{
        width: 60%;
        margin-right: 45px;
    }
    .p__sobremi{
        margin-right: 25px;
    }
    .sobre-mi__h3{
        margin-top: 15px;
    }
    .home__nombre__h2__sobre-mi{
        margin-left: 1px;
    }
    /* Contacto */
    .contacto{
        height: 100vh;
    }
    .contacto__main__section{
        flex-direction: column;
    }
    .home__nombre__h2__contacto{
        margin-left: 1px;
    }
    .img__contacto{
        width: 98%;
    }
    .contacto__h1{
        margin-top: 15px;
    }
    .contacto__p{
        width: 90%;
    }
    .contacto__main__section__p{
        margin-right: 25px;
    }
    .textarea{
        width: 260px;
    }
}