/* Ajustes generales */
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-style: none;
    
}
a:hover{
    color: yellow;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul {
    list-style: none;
}

/* Distintos bodys */
.index{
    background-image: url(./logos/outerspace-58.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "header header header header" 
        "main main main main"
        "footer footer footer footer"   
    ;
}
.home{
    background-color:#78794f;
    display: grid;
    grid-template-areas: 
        "header header header header" 
        "main main main main"
        "footer footer footer footer"   
    ;
}
.servi{
    background-color: #78794f;
    display: grid;
    grid-template-areas: 
        "header header header header" 
        "main main main main"
        "footer footer footer footer"
    ;
}
.sobre-mi{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header" 
        "main main main main"
        "footer footer footer footer"
    ;
}
.contacto{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.mantenimietoPC{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.desarrolloWeb{
    display: grid;
    background-color: #78794f;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
}
.SK7__body{
    background-color: black;
    grid-template-areas:
        "header header header header"
        "main main main main"
    ;
}
/* Header del Home */
.home__header{
    grid-area: header;
    padding: 10px;
    align-items: center;
    height: 65px;
    display: flex;
    background-color: #37718E;
}
.logo{
    width: 50px;
}
.home__header__lista {
    margin: auto;    
}
.anchors__home__header{
    color: black;
    margin-right: 30px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.inicio__home{
    background-color: aqua;    
}
.inicio__home:hover{
    color: black;
}
.servicios__home{
    background-color: aqua;
}
.servicios__home:hover{
    color: black;
}
.sobreMi__home{
    background-color: aqua;
}
.sobreMi__home:hover{
    color: black;
}
.contacto__home{
    background-color: aqua;
}
.contacto__home:hover{
    color: black;
}
/* Main del Home */
.home__main{
    grid-area: main;
}
.card-img-top{
    height: 392.5px;
}
.card{
    background-color: #78794f;
}
.card-title{
    color: white;
}
.anchors__servi__p{
    text-align: center;
}
.secciones{
    color: black;
    border: 1px solid white;
}
/* Footer Home */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 6.7%;    
}
/* header del index */
.index__header{
    grid-area: header;
    text-align: center;
}
.index__pregunta{
    width: 18.5%;
}
/* main del index */
.index__p__bootstrap{
    color: white;
    text-align: center;
}
.grid{
    color: white;
    text-align: center;
}
.bootstrapp{
    display: flex;
}
.banderas{
    margin-top: 5%;
    margin-left: 25%;
    letter-spacing: 2cm;
}
.index__bandera__idioma__espanol{
    width: 9%;
    height: 22%;
}
.index__bandera__idioma__ingles{
    width: 9%;
    height: 22%;
    margin: auto;
}
/* Footer Index */
.raidy__footer__redes{
    width: 3%;
}
/* Main Servicios */
.servicios__main{
    grid-area: main;
}
/* Footer servicios */
.raidy__footer__home{
    grid-area: footer;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: auto;
}
.sobre-mi{
    grid-area: main;
}
.sobre-mi__main__section{
    text-align: center;
    margin-top: 25px;
}
.sobreMi__main__section{
    display: flex;
    margin-top: 25px;
}
.sobreMi__yo{
    text-align: center;
    margin-left: 45px;
}
.sobre-mi__main__section-img{
    width: 350px;
}
.miBio{
    text-align: center;
}
.texto{
    margin-top: 15px;
    margin: 1cm;
}
.SK7{
    color: rgb(255, 255, 255);
    border-radius: 2cm;    
}
/* Main de contacto */
.contacto__main{
    grid-area: main;
}
.contacto__h1{
    text-align: center;
}
.contacto__p{
    margin-top: 25px;
    text-align: center;
}
.contacto__main__section{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.contacto__main__section__p{
    text-align: center;
}
#inputEmail4{
    width: 250px;
}
#inputAddress{
    width: 100%;
}
#inputAddress2{
    width: 100%;
}
.row-g-3{
    margin-left: 80px;
}
.btn-primary{
    margin-top: 15px;
    margin-left: 85px;
}
.falsoCarrusel{
    width: 35%;
    height: 150px;
    margin:50px auto;
    margin-right: 15px;
    border: 1px solid white;
    animation: carrusel 10s infinite;
}
@keyframes carrusel{
    0%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(10\).png);
    }
    20%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(9\).png);
    }
    45%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(8\).png);
    }
    70%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(7\).png);
    }
    100%{
        background-image: url(./logos/Reseñas\ de\ clientes\ \(6\).png);
    }
}
/* Header mantenimiento de pc */
/* Main mantenimiento de pc */
.mantenimientoPC__main{
    grid-area: main;
}
.mantenimientoPC__main__section{
    display: flex;
    text-align: center;
    align-items: center;
}
.h1__mantenimientoPC{
    text-align: center;
}
.p__mantenimientoPC{
    margin-top: 25px;
}
.mantenimientoPC__foto{
    width: 25%;
    margin: 1cm;
}
.mantenimientoPC__info{
    width: 65%;
}
/* Main de Desarrollo Web */
.desarrolloWeb__main{
    grid-area: main;
}
.desarrolloWeb__main__section{
    display: flex;
    text-align: center;
    align-items: center;
}
.desarrolloWeb__main__section__img{
    width: 25%;
    margin: 1cm;
}
.desarrolloWeb__info{
    width: 65%;
}
.desarrolloWeb__p{
    margin-top: 25px;
}
.desarrolloWeb__h1{
    text-align: center;
}
/* Main de SK7 */
.SK7__main{
    display: flex;
}
.SK7__img{
    width: 25%;
    margin: 1cm;
}
.SK7__main__div{
    text-align: center;
    align-items: center;
    margin-left: 30px;
    height: 500px;
    margin-top: 40px;
}
.SK7__main__p{
    color: white;
    margin-top: 16.5%;
    margin-right: 50px;
}
/* Discografia de SK7 */
.SK7__main__discografia{
    grid-area: main;
    margin: 1cm;
}
.SK7__section__discografia{
    display: flex;
    margin-top: 15px;
}
.sencillosEP{
    margin-top: 15px;
    color: white;
}
.discografia__section_a{
    color: violet;
    margin-right: 30px;
}
.discografia__section__SK7{
    margin-top: 15px;
}
.SK7__h{
    color: white;
}
/* Galeria SK7 */
.h2__galeria__sk7{
    margin-top: 50px;
    margin-left: 11px;
    color: white;
}
/* Media Queris */
@media screen and (max-width:768px){
    .index__pregunta{
        width: 30%;
    }
    .index__p__bootstrap{
        font-size: 15px;
        margin-right: 20px;
    }
    .grid{
        display: block;
    }
    .banderas{
        margin: auto;
        width: 55%;
        letter-spacing: 3cm;
    }
    .video{
        margin-top: 40px;
        width: 40%;
        height: 180px;
    }
    .raidy__footer__redes{
        width: 5%;
    }
}
@media screen and (max-width:425px){
    .index__pregunta{
        width: 52%;
    }
    .index__p__bootstrap{
        font-size: 15px;
        margin-right: 20px;
    }
    .grid{
        display: block;
    }
    .banderas{
        margin: auto;
        width: 80%;
        letter-spacing: 3cm;
    }
    .video{
        margin-top: 50px;
        width: 60%;
        height: 60%;
    }
    .raidy__footer__redes{
        width: 8%;
    }
}